html,body {
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	width: 100%;
}


canvas {
  display: block;
}

#container{
	padding:0%;
	margin:0%;
	border:0%;
	width:100%;
}

#canvas{
}

#text_box{
	color:gray;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 3em;
	position:fixed;
	bottom:0px;
	z-index:8;
}